@import url('htpps://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
#b1{
  box-shadow: #6726eb 0 15px 30px -5px;
}
#b2{
  margin-left: 300px;
  margin-top: -81px;
  box-shadow: #6726eb 0 15px 30px -5px;
}
#b3{
  margin-left: 600px;
  margin-top: -81px;
  box-shadow: #6726eb 0 15px 30px -5px;
}

.container{
  display: flex;
  margin-top: -100px;
  margin-left: 500px;
  flex-direction: column;


}
.container a{
position: relative;
  width: 160px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
}
.container a:before,
.container a:after
{
  content:'';
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: #f00
}
.container a:nth-child(1):before,
.container a:nth-child(1):after
{
 background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb)
}
.container a:nth-child(2):before,
.container a:nth-child(2):after
{
  background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb);
}
.container a:nth-child(3):before,
.container a:nth-child(3):after
{
  background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb);
}
.container a:nth-child(4):before,
.container a:nth-child(4):after
{
 background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb)
}
.container a:nth-child(5):before,
.container a:nth-child(5):after
{
 background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb)
}
.container a:nth-child(6):before,
.container a:nth-child(6):after
{
 background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb)
}
.container a:nth-child(7):before,
.container a:nth-child(7):after
{
 background: linear-gradient(45deg, #6726eb, #6726eb, #6726eb)
}

.container a:hover:before
{
  inset: -3px;  
}
.container a:hover:after
{
  inset: -3px;  
  filter: blur(10px);
}
.container a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  display: inline-block;
  background: #0a0909;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid white;
  overflow: hidden;
}
.container a span::before{
content:'';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200px;
  height: 100%;
  background: rgba(255,255,255,0.075);
    transform: skew(25deg)
}