.dropdown {
position: relative;
    display: inline-block;
    left: 45%;

}
.dropdown-content{
    border: solid rgb(126, 51, 106);
    top: 10.5%;
    display: none;
    position: fixed ;
    background-color: #232323;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1em;
    font-family: "OCR A Std", monospace;
    letter-spacing: 5px;
}
.a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color: #333333;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}