
#wrap{
	position: absolute;
	width: 100%;
	height: 120px;
	background: red;
	border-radius: 10px;
	background: #0a0909;
}
h1{
	font-family: matura mt script capitals;
	font-size: 40px;
	color: white;
	margin-left: 190px;
	
}